body{
    background-color: rgb(187, 217, 244);
    font-family: 'Courier New', Courier, monospace;
}

header h2{
    margin: 10px;
    text-align: center;
    
}
span{
    color: #9d6f24
}
i{
    color: rgb(100, 91, 43);
}

.card{
    width: 500px;
    border: 2px solid red;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    transition: 1s ease;
}
img{
    width: 100%;
    border-radius: 50px;
}

.card h3{
    font-size: 2em;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card p{
    font-size: 1.2em;
    padding: 10px;
    margin: auto 5px;
    overflow-wrap: break-word;
    text-align: justify;
    max-width: 100%;
}
.card btn{
    font-size: 2em;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    
}

footer h3{
    margin-top: 50px;
    text-align: center;
}


#profiles{
    display: flex;
    justify-content: space-evenly;
    
}


.card:hover{
    background-color: aquamarine;
    color: red;
    box-shadow: 2px 5px 10px green;
    border: 2px blue dashed;
    width: 570px;
}

button::hover{
    background-color: rgb(227, 104, 104);
    color: rgb(13, 255, 0);
    border-color: rgb(0, 55, 255);
    width: 110%;
}



@media (max-width: 600px){
    #profiles{
        flex-wrap: wrap;
        justify-content: center;
    }
  .card{
width: 80%; }
.card h3{
    font-size: 2em;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
 
}
.card p{
    font-size: 1.2em;
    padding: 10px;
    margin: auto 5px;
    overflow-wrap: break-word;
    text-align: justify;
    max-width: 100%;
}
.card btn{
    font-size: 2em;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
}
